// Styling for the masthead
header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url('../img/header.jpg');
  background-position: center center;
  @include background-cover;
  height: 100vh;  
  .intro-text {
    // padding-top: 150px;
    // padding-bottom: 100px;
    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      text-align: center;
      @include serif-font;
    }
    .intro-heading {
      font-size: 5rem;
      font-weight: 700;
      line-height: 5rem;
      margin-top: 5rem;
      margin-bottom: 25px;
      text-align: center;
      color: black;
      @include heading-font;
    }
    p {
      text-align: center;
      margin-bottom: 50px;
    }
  }
  .arrow {
    margin-top: 10%;
  }
}
@media(min-width:768px) {
  header.masthead {
    height: 100vh;
    .intro-text {
      // padding-top: 0;
      // padding-bottom: 200px;
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 7rem;
        font-weight: 700;
        line-height: 7rem;
        margin-top: 10rem;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
    .arrow {
      margin-top: 5%;
    }
  }
}
