// Mixins
@mixin transition-all() {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@mixin heading-font() {
  // font-family: 'Signika Negative', sans-serif;
  // font-family: 'Arima Madurai', cursive;
  font-family: 'Varela Round', sans-serif;
  // font-family: 'Knewave', cursive;
  
}
// @mixin serif-font() {
//   font-family: 'Roboto Slab', serif;
//   // font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
// }
@mixin sans-serif-font() {
  // font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-family: 'Varela Round', sans-serif;
}
