// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

#services ul {
  list-style-type:none;
  padding: 0;
  color: $dark-gray;
}

p {
  color: $dark-gray;
}